/* Override some defaults */
html, body {
//  background-color: #eee;
}
.navbar {
  margin-bottom: 0;
}
.navbar .container{ 
  width:940px;
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* posts index */
.post > h3.title {
  position:relative;
  padding-top:10px;
  border-top:3px solid #eee;
}
.post > h3.title span.date { 
  position:absolute;
  right:0;
  font-size:0.9em;
}
.post > .more {
  margin:10px 0;
  text-align:left;
}

/* tag_box ======================================================== */

.tag_box {
  list-style:none;
  margin:0;
  padding:5px 0 ;
  overflow:hidden;
}
.tag_box li {
  line-height:28px;
}
.tag_box.inline li {
  float:left;
}
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color:#005F6B;
  border-radius: 3px;
  text-decoration:none;
}
.tag_box a span{
  vertical-align:super;
  font-size:0.8em;
}
.tag_box a.active {
  background:#57A957;
  border:1px solid #4C964D;
  color:#FFF;
}
form {
  margin: 0;
}
a.topics:hover > img {
	-webkit-box-shadow: 5px 5px 12px #0D7179;
     -moz-box-shadow: 5px 5px 12px #0D7179;
          box-shadow: 5px 5px 12px #0D7179;
}